<h1>Testando comportamentos Assíncronos</h1>

<ul>
  <li>Subscribe</li>
  <li>Promise</li>
  <li>Async</li>
  <li>Done</li>
  <li>FakeAsync</li>
  <li>whenStable</li>
</ul>


<button (click)="getUsers()">Fazer chamada Assíncona Subscribe</button>
<button (click)="getUsers()">Fazer chamada Assíncona Promise</button>


<br>
<br>

<div *ngIf="isLogged" class="logged">Logado</div>
<div *ngIf="!isLogged" class="logged-out">Deslogado</div>

<button (click)="isAuthenticaded()">Logar no sistema</button>

