<h1>Problemas comuns nos testes</h1>

<ul>
  <li>No provider for HttpClient!</li>
  <li>No provider for MatDialog!</li>
  <li>No provider for FormBuilder!</li>
  <li>No provider for NgControl found in NodeInjector</li>
</ul>

<!-- <button mat-raised-button (click)="openDialog()">Abrir modal</button> -->

<br>
<br>

<!-- <form action="" [formGroup]="form">
  <input type="text" formControlName="name" placeholder="Digite o nome">
  <br>
  <input type="text" formControlName="email" placeholder="Digite o e-mail">
  <br>
  <input type="text" formControlName="password" placeholder="Digite a senha">
  <br>
  <br>
  <button>Enviar dados</button>
</form> -->

<h1>{{price}}</h1>
<input [(ngModel)]="price">
