
<!-- <app-request></app-request> -->

<!-- <app-testing-component></app-testing-component>

<app-fixture-detect-change></app-fixture-detect-change>

<app-handle-event></app-handle-event>

<app-fill-form></app-fill-form>

<app-input-output
  [user]="user"
  (userMessage)="getUserMessage($event)">
</app-input-output>

<app-auto-detect-change></app-auto-detect-change> -->

<!-- <app-concepts-tests></app-concepts-tests> -->

<!-- <app-debugger-tests></app-debugger-tests> -->

<app-asynchronous-component></app-asynchronous-component>

