
<!-- <app-request></app-request> -->

<!-- <app-testing-component></app-testing-component>

<app-fixture-detect-change></app-fixture-detect-change>

<app-handle-event></app-handle-event>

<app-fill-form></app-fill-form>

<app-input-output
  [user]="user"
  (userMessage)="getUserMessage($event)">
</app-input-output>

<app-auto-detect-change></app-auto-detect-change> -->

<!-- <app-concepts-tests></app-concepts-tests> -->

<!-- <app-debugger-tests></app-debugger-tests> -->

<!-- <app-asynchronous-component></app-asynchronous-component> -->

<!-- <app-matchers-jasmine></app-matchers-jasmine> -->

<!-- <app-mock-service></app-mock-service> -->

<!-- <app-stub></app-stub> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-spyon></app-spyon> -->

<!-- <app-fix-problems></app-fix-problems> -->

<!-- <app-testing-pipes-directive-route></app-testing-pipes-directive-route> -->

<!-- <h1>Testando Gurda de rotas</h1> -->
<!-- <button (click)="goTo('dashboard')">Acessar home</button> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-testing-directive></app-testing-directive> -->

<!-- <app-form-login></app-form-login> -->

<!-- <app-testing-route></app-testing-route> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-integration-unit-testing></app-integration-unit-testing> -->

<h1>Curso de Testes Unitários com Angular / Jasmine e Karma</h1>
